[submodule "Dependencies/toml11"]
	path = Dependencies/toml11
	url = https://github.com/ToruNiina/toml11
[submodule "Dependencies/Detours"]
	path = Dependencies/Detours
	url = https://github.com/microsoft/Detours
[submodule "Dependencies/imgui"]
	path = Dependencies/imgui
	url = https://github.com/ocornut/imgui
